﻿
  @*Created By Nathan Menkveld for Premise code test*@

@{
    ViewBag.Title = "Premise Code Test";
}
<div class="row">
    <div class="col-md-12">
        <h1>Schedule</h1>
    </div>
</div>
<div class="row calendar-buttons">
    <div class="col-sm-3">
        <div class="btn-group">
            <button type="button" 
                    class="btn btn-primary popover-dismiss"
                    data-html="true"
                    data-toggle="popover"
                    data-placement="auto left"
                    data-content="This popover would have a form in it or there would be a modal that pops up with a form. When the user enters acceptable data, it would be persisted to the database and the calendar on this page would have the new entry added to it."
                    title="Add Hours">Add Hours</button> 
        </div>
    </div>
    <div class="col-sm-9 text-right">
        <div class="btn-group">
            <button type="button" 
                    class="btn btn-primary popover-dismiss"
                    data-html="true"
                    data-toggle="popover"
                    data-placement="auto right"
                    data-content="This popover would have a form in it or there would be a modal that pops up with a form. When the user enters acceptable data, it would be persisted to the database and the calendar on this page would have the new entry added to it."
                    title="Select Date Range">Run Analysis</button>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
        @*<img src="http://placehold.it/1140x730">*@
    </div>
</div>

@section scripts {
    <script>
    $(function () {

        $('.popover-dismiss').popover();

        $.ajax({
            async: true,
            url: '@Url.Action("GetCalendarEvents", "Home")',
            data: {
                userId: 1
            }
        }).success(function (events) {
            $('#calendar').fullCalendar({
                // put options and callbacks here
            });
            $('#calendar').fullCalendar('addEventSource', events);
        });

        


    });
    </script>
}